body {
  background-color: rgb(28, 39, 54);
  font-family: sans-serif;
}

#tip {
  color: rgb(248, 39, 39);
  text-transform: uppercase;
  font-size: 12px;
  margin-left: 50%;
  text-align: end;
  visibility: hidden;
  position: absolute;
  opacity: 0;
  transition: opacity 2s;
}

.container {
  text-align: center;
}

.search-contain {
  position: relative;
  margin: 50px;
}

#search {
  background: rgb(248, 39, 39);
  width: 20px;
  height: 20px;
  padding: 20px;
  border-radius: 30px;
  border: none;
  color: white;
  cursor: pointer;
  transition: width 1s ease;
  font-size: 1.6em;
}
#search::-moz-placeholder {
  color: rgb(131, 185, 202);
}
#search::placeholder {
  color: rgb(131, 185, 202);
}
#search:focus {
  outline: none;
}

#search-icon {
  width: 22px;
  height: 22px;
  margin: 10px 0 0 9px;
  position: absolute;
  z-index: 1;
  cursor: pointer;
}

#search-animation {
  height: 18px;
  width: 18px;
  padding: 18px;
  border: 3px solid rgb(248, 39, 39);
  border-radius: 50%;
  position: absolute;
  opacity: 0.5;
  animation: grow 1s infinite;
}

@keyframes grow {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.3);
    opacity: 0;
  }
}
:root {
  --background-dark: #2d3548;
  --text-light: rgba(255,255,255,0.6);
  --text-lighter: rgba(255,255,255,0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
}

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

body {
  height: 100%;
}

.hero-section {
  align-items: flex-start;
  background-color: rgb(28, 39, 54);
  display: flex;
  min-height: 100%;
  justify-content: center;
  padding: var(--spacing-xxl) var(--spacing-l);
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 100%;
}

@media (min-width: 540px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 960px) {
  .card-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
.card {
  list-style: none;
  position: relative;
}

.card:before {
  content: "";
  display: block;
  padding-bottom: 150%;
  width: 100%;
}

.card__background {
  background-size: cover;
  background-position: center;
  border-radius: var(--spacing-l);
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition: filter 200ms linear, transform 200ms linear;
}

.card:hover .card__background {
  transform: scale(1.05) translateZ(0);
}

.card-grid:hover > .card:not(:hover) .card__background {
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card__content {
  left: 0;
  padding: var(--spacing-l);
  position: absolute;
  top: 0;
}

.card__category {
  color: var(--text-light);
  font-size: 0.9rem;
  margin-bottom: var(--spacing-s);
  text-transform: uppercase;
}

.card__heading {
  color: var(--text-lighter);
  font-size: 1.9rem;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
  line-height: 1.4;
  word-spacing: 100vw;
}/*# sourceMappingURL=style.css.map */